.header-color {
    color: silver;
}

.title-color {
    color: #54b0fc;
}

.common-color {
    color: rgb(40, 40, 40);
}

.title-bold {
    font-weight: bold;
}

.text-md-right {
    @media screen and (min-width: 992px) {
        text-align: right;
    }
}

.list-font-size {
    font-size: 24px;
}

.secondary-list-font-size {
    font-size: 16px;
}
